<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <!-- <link rel="stylesheet" type="text/css" href="$shared/resources/css/exist-2.2.css"/> -->
        <link rel="stylesheet" href="resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="resources/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="resources/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <!-- <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/> -->
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
    </head>
    <body>
        <div id="content"/>
        <script src="resources/js/vendor/bootstrap.min.js"/>
        <script src="resources/js/main.js"/>
    </body>
</html>